@import '../../../styles/includes/';

.inputField {
  position: relative;

  button {
    position: absolute;
    border: none;
    background: transparent;
    top: 50%;
    right: $spacing-x2;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.textInput {
  @include border-radius(5px);
  @include font-size($text-body-2);
  background-image: none !important;
  border: rem(1px) solid $gray-400;
  display: block;
  height: rem(54px);
  padding: $spacing-x2;
  width: 100%;
  color: $gray-900;

  &:focus {
    border: rem(1px) solid $dark-blue;
    outline: none;
    background: $gray-50;
  }

  &::-ms-reveal,
  &::-ms-clear {
    display: none;
  }
  &::-webkit-contacts-auto-fill-button,
  &::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
  }

  &[data-error='true'] {
    @include form-field-error;
  }
}
