@import '../../../styles/includes';

.PowerCutRegisterUpdatesLanding {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: $spacing-x4 0 0;
  position: relative;
  min-height: 100%;
  display: flex;
  width: 100%;
}

.PowerCutTextUpdatesForm {
  padding-bottom: rem(96px);
}

.wrapper {
  align-self: flex-start;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.inner {
  grid-template-rows: repeat(2, auto);
  row-gap: $spacing-x4;
  @include site-grid;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.textContainer {
  grid-column: 1 / -1;

  @include media-breakpoint-down(sm) {
    padding: 0 $spacing-x1;

    :first-child {
      margin: 0;
    }
  }
}

.subHeadline {
  @include font-size($text-body-1);
  margin-bottom: $spacing-x5;
  color: $gray-900;
  font-weight: 700;
  line-height: rem(32px);

  @include media-breakpoint-down(sm) {
    line-height: rem(28px);
  }
}

.postcodeBullets {
  margin-bottom: $spacing-x2;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  width: 100%;

  @include media-breakpoint-up(md) {
    grid-column: 4 / -4;
  }

  @include media-breakpoint-up(xl) {
    grid-column: 5 / -5;
  }

  @include media-breakpoint-down(sm) {
    grid-column: 2 / 12;
  }
}

.addressLookUp {
  height: rem(66px);
  width: 100%;

  @include media-breakpoint-up(lg) {
    height: rem(89px);
  }

  @include media-breakpoint-down(md) {
    margin-bottom: $spacing-x2;
  }

  &[data-is-error='true'] {
    div:first-child {
      border: 1px solid $red;
    }
  }
}

.bulletPoints {
  @include border-radius($border-radius-mobile);
  background-color: $white;
  border: 1px solid $gray-500;
  padding: $spacing-x3;
  list-style: none;
  color: $gray-800;
  width: 100%;

  li {
    margin-bottom: $spacing-x2;
    display: flex;
    color: $gray-800;
    @include font-size($text-body-3);

    svg {
      color: $blue;
      margin-top: rem(3px);
      margin-right: $spacing-x2;
      height: rem(16px);
      width: rem(16px);
      flex-shrink: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.fieldWrapper {
  grid-column: 2 / -2;
  grid-row: 1 / 2;

  @include media-breakpoint-up(md) {
    grid-column: 4 / -4;
  }

  @include media-breakpoint-up(xl) {
    grid-column: 5 / -5;
  }
}

.phoneNumber {
  border: rem(1px) solid $gray-300;
  border-radius: rem(5px);
  flex-direction: column;
  position: relative;
  display: flex;

  &:hover {
    background-color: $gray-800;
  }

  &:focus-within {
    background-color: $gray-800;

    .phoneNumberLabel {
      @include font-size($text-body-4);
      transform: translateY(0%);
      top: $spacing-x1;
    }
  }
}

.phoneNumberLabel {
  @include font-size($text-body-2);
  transition: all 0.2s ease-in-out;
  transform: translateY(-50%);
  pointer-events: none;
  position: absolute;
  left: $spacing-x3;
  color: $gray-700;
  top: 50%;

  &[data-is-empty='false'] {
    @include font-size($text-body-4);
    transform: translateY(0%);
    top: $spacing-x1;
  }
}

.phoneNumberInput {
  padding: $spacing-x3 $spacing-x3 0;
  border-radius: rem(5px);
  align-self: flex-end;
  height: rem(68px);
  border: none;
  width: 100%;
  color: $gray-900;
  @include font-size($text-body-2);

  &:focus {
    outline: none;
  }
}

.submitButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  margin: $spacing-x3 0 auto;

  @include media-breakpoint-down(md) {
    margin: $spacing-x2 auto 0 auto;
    width: 80%;
  }
}

.richTextContainer {
  grid-column: 2 / -2;

  @include media-breakpoint-up(md) {
    grid-column: 4 / -4;
  }

  @include media-breakpoint-up(xl) {
    grid-column: 5 / -5;
  }
}

.richText {
  @include font-size($text-body-3);
  color: $gray-800;
}

.loaderWrapper {
  width: 30px;
  height: 30px;
  margin: rem(8px) auto;
}

// Modal
.addressPopUpModal {
  border-radius: rem(24px) rem(24px) 0 0;
  max-height: calc(100% - $spacing-x8);
  background-color: $white;
  justify-self: flex-end;
  flex-direction: column;
  position: relative;
  margin: auto 0 0 0;
  overflow: scroll;
  display: flex;
  height: auto;
  width: 100%;

  @include media-breakpoint-up(md) {
    border-radius: rem(24px);
    max-width: rem(648px);
    overflow: auto;
    margin: auto 0;
  }
}

.modalControls {
  background-color: $white;
  padding: $spacing-x3;
  position: sticky;
  display: flex;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}

.closeModal {
  position: relative;
  margin-left: auto;

  svg {
    height: rem(24px);
    width: rem(24px);
  }
}

.mainPopUpContainer {
  margin: $spacing-x2;
  padding: $spacing-x4 $spacing-x3;
  background: $bg-grey;
  border: 1px solid $gray-300;
  border-radius: rem(24px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    padding: $spacing-x4 $spacing-x6;
    margin: $spacing-x6;
    margin-top: $spacing-x1;
  }

  > svg {
    height: rem(48px);
    width: rem(48px);
    margin-bottom: $spacing-x2;

    @include media-breakpoint-up(md) {
      height: rem(40px);
      width: rem(40px);
    }
  }

  .mainPopUpHeading {
    text-align: center;
    color: $gray-900;
  }

  .mainPopUpBody {
    text-align: center;
    line-height: rem(26px);
    margin-bottom: $spacing-x2;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacing-x3;
    }

    > p {
      margin: 0;
      padding: 0;
      color: $gray-800;
      letter-spacing: 0.5px;
      word-spacing: 0.75px;
    }
  }
}
