@import '../../../styles/includes';

.carosuelNoPadding {
  grid-template-rows: repeat(3, auto);
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.carosuelTitle {
  padding: 0 $grid-padding-sm;
  margin-bottom: $spacing-x1;
  grid-column: 1 / -1;
  text-align: center;
  font-weight: 400;
  grid-row: 1 / 2;

  @include media-breakpoint-up(md) {
    grid-column: 2 / -2;
    padding: 0;
  }
}

.carosuelSubtitle {
  @include font-size($text-body-3);
  padding: 0 $grid-padding-sm;
  margin-bottom: $spacing-x8;
  grid-column: 1 / -1;
  text-align: center;
  color: $gray-600;
  grid-row: 2 / 3;

  @include media-breakpoint-up(md) {
    grid-column: 3 / -3;
    padding: 0;
  }
}

.carosuelImages {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.prevButton,
.nextButton {
  background-color: transparentize($dark-blue, 0.5);
  justify-content: center;
  position: relative;
  grid-row:  3 / 4;
  width: 100%;
  z-index: 8;
  top: 0;

  svg {
    color: $white;
  }
}

.prevButton {
  transform: scaleX(-1);
  grid-column: 1 / 2;
}

.nextButton {
  margin-left: $spacing-x2;
  grid-column: -2 / -1;
}