@import '../../../styles/includes';

.container {
  @include border-radius($border-radius-mobile);

  display: grid;
  grid-column: span 12;
  border: 4px solid $orange;
  padding: $spacing-x1;

  @include media-breakpoint-up(md) {
    @include border-radius(0px);

    gap: $spacing-x3;
    border: none;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);

    &[data-is-four-cols='true'] {
      grid-template-columns: repeat(4, 1fr);
    }

    &[data-is-storm='true'] {
      background-color: $bg-blue;
      @include media-breakpoint-up(lg) {
        padding: $spacing-x6 $spacing-x7;
      }
    }
  }
}

.inner {
  @include media-breakpoint-up(lg) {
    [data-is-storm='true'] & {
      padding: 0;
    }
  }
}

.quickLinkCard {
  text-decoration: none;
  padding-left: $spacing-x2;
  padding-right: $spacing-x2;
  border-left: 1px solid $orange;
  border-right: 1px solid $orange;

  @include media-breakpoint-up(md) {
    @include border-radius($border-radius-mobile);
    padding: $spacing-x1;
    border: 4px solid $orange;
  }

  &:first-child {
    @include border-radius(8px, true, true, false, false);
    border-top: 1px solid $orange;
    border-bottom: none;

    @include media-breakpoint-up(md) {
      @include border-radius($border-radius-mobile);
      padding: $spacing-x1;
      border: 4px solid $orange;
    }
  }

  &:last-child {
    @include border-radius(8px, false, false, true, true);
    border-top: none;
    border-bottom: 1px solid $orange;

    @include media-breakpoint-up(md) {
      @include border-radius($border-radius-mobile);
      padding: $spacing-x1;
      border: 4px solid $orange;
    }
  }

  &:hover {
    .quickLinkItemName {
      text-decoration: underline;
      color: $gray-900;
    }
  }
}

.quickLinkItem {
  display: grid;
  grid-template-areas: 'icon name arrow';
  grid-template-columns: 0fr 1fr 0fr;
  align-items: center;
  gap: $spacing-x2;
  padding-top: $spacing-x3;
  padding-bottom: $spacing-x3;
  color: $gray-900;
  border-bottom: 1px solid $gray-500;

  @include media-breakpoint-up(md) {
    @include border-radius(8px);

    grid-template-areas:
      'icon icon'
      'name arrow';
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 0fr 1fr;
    height: 100%;
    padding-left: $spacing-x2;
    padding-right: $spacing-x2;
    border: 1px solid $orange;
  }
}

.quickLinkItemIcon {
  grid-area: icon;

  svg {
    width: rem(24px);
    height: rem(24px);

    @include media-breakpoint-up(md) {
      width: rem(48px);
      height: rem(48px);
    }
  }
}

.quickLinkItemName {
  @include font-size($text-body-0);

  grid-area: name;

  @include media-breakpoint-up(md) {
    &[data-is-large-text='true'] {
      @include font-size($textH7);
    }
  }
}

.quickLinkItemArrow {
  grid-area: arrow;
  width: rem(32px);
  height: rem(32px);
  border-radius: 50%;
  background-color: $orange;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: rem(16px);
    height: rem(16px);
    color: $white;
  }
}
