@import '../../../styles/includes';

.PowerCutTextUpdatesLanding {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: rem(96px) 0;
  position: relative;
  min-height: 100vh;
  display: flex;
  width: 100%;
}

.PowerCutTextUpdatesForm {
  padding-bottom: rem(96px);
}

.wrapper {
  align-self: flex-start;
  margin: 0 auto;
  z-index: 1;
}

.inner {
  grid-template-rows: repeat(2, auto);
  row-gap: $spacing-x8;
  @include site-grid;
  width: 100%;
}

.textContainer {
  grid-column: 2 / -2;
  text-align: center;
  grid-row: 1 / 2;
  color: $white;
  width: 100%;

  @include media-breakpoint-up(lg) {
    grid-column: 4 / -4;
  }
}

.headline {
  margin-bottom: $spacing-x1;
}

.subHeadline {
  @include font-size($text-body-1);
  margin-bottom: 0;
}

.postcodeBullets {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  width: 100%;

  @include media-breakpoint-up(lg) {
    grid-column: 3 / -3;
  }
}

.addressLookUp {
  height: rem(66px);
  width: 100%;

  @include media-breakpoint-up(lg) {
    height: rem(89px);
  }
}

.bulletPoints {
  background-color: $dark-blue;
  padding: $spacing-x4;
  list-style: none;
  color: $white;
  width: 100%;

  li {
    margin-bottom: $spacing-x2;
    display: flex;

    &::before {
      @include css-svg-background('icon_tick_circle', $white);
      background-repeat: no-repeat;
      margin-right: $spacing-x2;
      background-size: contain;
      height: rem(22px);
      width: rem(22px);
      flex-shrink: 0;
      display: block;
      content: '';
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.fieldWrapper {
  grid-column: 2 / -2;
  grid-row: 1 / 2;

  @include media-breakpoint-up(md) {
    grid-column: 4 / -4;
  }

  @include media-breakpoint-up(xl) {
    grid-column: 5 / -5;
  }
}

.phoneNumber {
  border: rem(1px) solid $gray-700;
  border-radius: rem(5px);
  flex-direction: column;
  position: relative;
  display: flex;

  &:hover {
    background-color: $gray-50;
  }

  &:focus-within {
    background-color: $gray-50;

    .phoneNumberLabel {
      @include font-size($text-body-4);
      transform: translateY(0%);
      top: $spacing-x1;
    }
  }
}

.phoneNumberLabel {
  @include font-size($text-body-2);
  transition: all 0.2s ease-in-out;
  transform: translateY(-50%);
  pointer-events: none;
  position: absolute;
  left: $spacing-x3;
  color: $gray-700;
  top: 50%;

  &[data-is-empty='false'] {
    @include font-size($text-body-4);
    transform: translateY(0%);
    top: $spacing-x1;
  }
}

.phoneNumberInput {
  padding: $spacing-x3 $spacing-x3 0;
  border-radius: rem(5px);
  align-self: flex-end;
  height: rem(68px);
  border: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.requiredFields {
  @include font-size($text-body-3, 700);
  color: $gray-900;
  span {
    color: $red;
  }
}

.submitButton {
  margin: $spacing-x3 auto auto;
  justify-self: center;
}

.richTextContainer {
  grid-column: 2 / -2;
  grid-row: 2 / 3;

  @include media-breakpoint-up(md) {
    grid-column: 4 / -4;
  }

  @include media-breakpoint-up(xl) {
    grid-column: 5 / -5;
  }
}

.richText {
  @include font-size($text-body-3);
  color: $gray-700;
}
