@import '../../../styles/includes/';

.multiPinWrapper {
  background-color: $bg-purple;
  margin-bottom: 0;
  padding-top: $spacing-x5;
  padding-bottom: $spacing-x5;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

.multiPinInner {
  @include media-breakpoint-up(md) {
    margin-top: rem(-72px);
  }
}

.cardsChooserWrapper {
  grid-column: span 12;
  overflow-x: auto;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.cardsChooser {
  display: flex;
  width: fit-content;
  @include site-grid-column-gap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-x3;
  align-items: center;
}

.cardChooserText {
  grid-column: span 12;
  text-align: center;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.cardChooserButton[data-appearance=blank] {
  min-width: rem(56px);
  min-height: rem(56px);
  border-radius: rem(28px);
  background-color: $white;
  color: $gray-900;

  &[data-is-selected='true'] {
    background-color: $dark-blue;
    color: $white;
  }
}

.cards {
  grid-column: span 12;
  display: flex;
  @include site-grid-column-gap;
  transition: transform 0.3s ease;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    transform: none !important;
    @include site-grid-row-gap;
  }
}
