@import '../../../styles/includes';

.contactCard {
  flex-direction: column;
  display: flex;
  padding: 0;
}

.content {
  @include border-radius($border-radius-mobile);
  padding: $spacing-x4 $spacing-x3;
  border: 1px solid $white;
  grid-column: 1/-1;
  color: $white;

  @include media-breakpoint-up(lg) {
    padding: $spacing-x5 $spacing-x4;
  }
}

.cardTitle {
  @include font-size($textH7);
  margin-bottom: $spacing-x2;
}

.cardSubtitle {
  @include font-size($text-body-2, 400);
  -webkit-font-smoothing: antialiased;
  opacity: 0.9;

  p {
    margin-bottom: 0;
  }

  strong {
    @include font-size($text-body-2, 700);
  }
}
