.liveChatButton {
  text-decoration: none;
  position: fixed;
  z-index: 9999;
  bottom: 0em;
  right: 1em;
}

.liveChatImage {
  height: rem(40px);
  width: rem(40px);
  border: none;
}

.noScriptCta {
  font-size: rem(10px);
  bottom: rem(2px);
  right: rem(2px);
  position: fixed;
}