@import '../../../styles/includes/';

.textInput {
  @include border-radius(5px);
  @include font-size($text-body-2);
  border: rem(1px) solid $gray-400;
  display: block;
  height: rem(54px);
  padding: $spacing-x2;
  width: 100%;

  &:focus {
    border: rem(1px) solid $dark-blue;
    background: $gray-50;
    outline: none;
  }

  &[data-error='true'] {
    @include form-field-error;
  }

  &[data-error='true'][data-all='true'] {
    border: rem(1px) solid $gray-400;
  }
}

.validation {
  margin: $spacing-x2 0 $spacing-x2 0;
  padding: $spacing-x2;
  background: $gray-50;
  display: flex;
  flex-direction: column;
  gap: $spacing-x1;
}

.validationItem {
  @include font-size($text-body-4);
  color: $mid-blue;
  display: flex;
  align-items: center;

  span {
    margin-right: $spacing-x1;
  }

  &[data-char='true'][data-error='false'] {
    color: $dark-teal;
  }

  &[data-char='false'][data-error='true'] {
    color: $red;
  }

  &[data-char='false'][data-error='false'] {
    color: $mid-blue;
  }

  &[data-char='true'][data-error='true'] {
    color: $dark-teal;
  }
}

.inputField {
  position: relative;

  button {
    position: absolute;
    border: none;
    background: transparent;
    top: 50%;
    right: $spacing-x2;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.circle {
  height: rem(20px);
  width: rem(20px);
  display: inline-block;
  border: 1px solid $gray-400;
  border-radius: 50%;
  background: $white;
  color: white;
}

.confirm {
  margin-top: $spacing-x1;
}

.error {
  margin-top: $spacing-x2;
}
