@import '../../../styles/includes/';

.textArea {
  @include border-radius(5px);
  @include font-size($text-body-2);
  width: 100%;
  min-height: rem(108px);
  padding: $spacing-x2;
  border: solid rem(1px) $gray-400;
  background-color: $white;
  color: $gray-900;

  &[data-error='true'] {
    @include form-field-error;
  }

  &:focus {
    outline: none;
    background: $gray-50;
    border: solid rem(1px) $dark-blue;
  }
}
