@import '../../../styles/includes/';

.thankYou {
  grid-template-rows: repeat(4, auto);
  align-items: center;
  text-align: center;
  @include site-grid;
  color: $gray-900;
  margin: 0 auto;
}

.title {
  @include font-size($textH2, 700);
  margin: $spacing-x4 0;
  grid-column: 2 / -2;
  grid-row: 1 / 2;
}

.reference {
  margin-top: $spacing-x4;
  max-width: rem(434px);
  justify-self: center;
  grid-column: 4 / -4;
  position: relative;
  grid-row: 2 / 3;
  width: 100%;
}

.message {
  @include font-size($textH5);
  max-width: rem(434px);
  justify-self: center;
  grid-column: 4 / -4;
  grid-row: 3 / 4;

  @include media-breakpoint-down(sm) {
    grid-column: 2 / -2;
  }

  strong {
    -webkit-font-smoothing: antialiased;
  }
}

.referenceNumber {
  padding: $spacing-x2 0 $spacing-x2 0;
  border: rem(2px) solid $blue;
  @include font-size($textH3, 700);
  @include border-radius(4px);
}

.referenceMessage {
  transform: translateX(-50%) translateY(-50%);
  @include font-size($text-body-2, 700);
  padding: 0 $spacing-x1 0 $spacing-x1;
  white-space: nowrap;
  position: absolute;
  background: $white;
  color: $mid-blue;
  max-width: 99%;
  left: 50%;
  top: 0;
}

.redirectLink {
  margin-bottom: $spacing-x8;
  justify-self: center;
  grid-column: 5 / -5;
  grid-row: 4 / 5;
}
