@import '../../styles/includes';

.UkpnHomepage {
  @include container-max-width;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
}

.container {
  position: relative;
  overflow: hidden;
  padding-top: rem(70px);

  @include media-breakpoint-up(md) {
    padding-top: rem(131px);
  }
}
