@import '../../../styles/includes';

.powerCutPanelContainer {
  height: 100%;
  overflow: auto;

  &[data-panel-active='false'] {
    overflow: hidden;
  }
}

.textUpdatePanel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $gray-50;
  z-index: 1;
}
