@import '../../../styles/includes/';

.container {
  padding: $spacing-x5 $spacing-x6;
}

.multiItems {
}

.multiItem {
  display: flex;
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  padding: $spacing-x2;
}

.multiItemIcon {
  flex: 0 0 auto;
  padding-right: $spacing-x2;
}

.multiItemContent {
}

.multiItemLabel {
  margin: 0;
  color: $gray-700;
  line-height: rem(24px);
}

.multiItemLink {
  @include font-size($text-body-3, 700);
  margin: 0;
  color: $mid-blue;
  line-height: rem(24px);
  display: flex;
  align-items: center;

  svg {
    margin-left: $spacing-x1;
  }

  &:hover {
    text-decoration: underline;
  }
}

.reportIt {
  text-align: center;
  padding: $spacing-x4 $spacing-x2;
}

.reportCTA {
  width: 100%;
  max-width: rem(288px);

  p {
    margin-top: $spacing-x2;
  }
}
