@import '../../../styles/includes';

.container {
  padding-left: $spacing-x2;
  padding-right: $spacing-x2;
  background-color: $bg-grey;
  border-top: 1px solid $gray-500;

  @include media-breakpoint-up(md) {
    padding-left: $spacing-x3;
    padding-right: $spacing-x3;
  }
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-x2;
  padding-top: $spacing-x3;
  padding-bottom: $spacing-x3;
  border-top: 1px solid $gray-500;
  text-decoration: none;
  color: $gray-900;
  background-color: $bg-grey;
  text-align: left;

  &:hover {
    color: $gray-900;
  }

  &:first-child {
    border-top: none;
  }

  &:hover {
    .listItemName {
      text-decoration: underline;
    }
  }
}

.listItemIcon {
  flex-shrink: 0;

  svg {
    width: rem(24px);
    height: rem(24px);
  }
}

.listItemName {
  @include font-size($text-body-1);
  flex-grow: 1;
}

.listItemArrow {
  flex-shrink: 0;
  width: rem(40px);
  height: rem(40px);
  border-radius: 50%;
  border: 2px solid $orange;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: rem(16px);
    height: rem(16px);
    color: $orange;
  }
}
